@font-face {
    font-family: Tanker;
    src: url(assets/fonts/tanker-regular-webfont.woff);
}

body {
    background-color: #ebe7db;
    color: #26364c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    font-family: Tanker;
}

.container {
    text-align: center;
}

h3 {
    font-size: 32px;
}
